Repository shimahi/cw_mono_boilerplate, changes with the labels that .github/labeler.yaml gives for each.
All labels: Web, Server, DB

.github/labeler.yaml:

Web:
  - 'apps/web/**/*'
Server:
  - 'packages/server/**/*'
DB:
  - 'packages/db/**/*'

Ladle自動デプロイのCI作成
  .github/workflows/deploy-ladle.workflow.yml
Labels: none

自動マイグレーションのCI記述(要注意)
  .github/workflows/migrate-db-dev.workflow.yml
  .github/workflows/migrate-db-prod.workflow.yml
Labels: none

Labelerのyml修正
  .github/workflows/pull-request-labeler.workflow.yml
Labels: none

gitkeep
  apps/web/src/lib/.gitkeep
  apps/web/src/utils/.gitkeep
Labels: Web

コメント修正
  apps/web/.dev.vars.sample
  apps/web/.env.sample
  apps/web/wrangler.toml
  packages/db/package.json
  packages/db/wrangler.toml
Labels: Web, DB

README修正
  README.md
  apps/web/README.md
  packages/server/README.md
Labels: Web, Server

README修正
  README.md
Labels: none

自動マイグレーション問題が解決したのでactionsの設定を変更
  .github/workflows/migrate-db-dev.workflow.yml
  .github/workflows/migrate-db-prod.workflow.yml
  packages/db/package.json
  packages/db/scripts/migrate-apply-local.mjs
  packages/server/README.md
Labels: Server, DB
